@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/fonts";

/*Base Styles for Web App*/
body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

.header-content {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.nyt-logo {
  height: 159px;
  padding-bottom: 9px;
}

.header-content p {
  font-size: 0.8rem;
  padding-top: 3px;
  padding-bottom: 1rem;
  margin: 0;
  //   text-align: center;
}

select {
  padding: 2px 8px 2px 8px;
  font-weight: 550;
  font-size: 1rem;
}

article {
  height: 420px;
  position: relative;
  p {
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    padding: 0.5rem 0.5rem;
    text-align: left;
    position: absolute;
    bottom: 0;
    margin: 0;
  }
}

footer {
  color: #c2c2c2;
  padding-top: 25px;
  padding-bottom: 25px;
}
