body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  text-align: center;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  position: relative;
  color: $standard-color;
  .loading {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .loading-gif {
    width: 2rem;
  }
}

.header-content {
  padding-top: 11rem;
  padding-bottom: 9rem;
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10.3rem;
    padding-top: 222px;
  }
}

.change-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include tablet {
    padding-bottom: 0.55rem;
  }
}

.display-logo {
  @include tablet {
    flex-direction: row;
    margin: 0;
    padding-left: 214px;
  }
  @include desktop {
    padding-left: 2rem;
  }
}

.change-display-logo {
  @include tablet {
    padding-left: 100px;
  }
  @include desktop {
    padding-left: 2rem;
  }
}

.display-text {
  @include tablet {
    flex-direction: row;
    margin: 0;
    padding-left: 15px;
    padding-top: 70px;
  }
  @include desktop {
    padding-left: 95px;
  }
}

.change-display-text {
  @include tablet {
    padding-left: 83px;
    padding-top: 0;
  }
}

.nyt-logo {
  height: 229px;
  padding-bottom: 9px;
  @include tablet {
    height: 230px;
  }
}

.change-logo {
  height: 159px;
  @include tablet {
    height: 76px;
  }
}

.header-content p {
  font-size: 0.8rem;
  padding-top: 3px;
  padding-bottom: 1rem;
  margin: 0;
  @include tablet {
    font-size: 0.9rem;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  @include desktop {
    font-size: 1rem;
  }
}

select {
  padding: 2px 8px 2px 8px;
  font-weight: 550;
  font-size: 1rem;
  &:focus {
    outline: 0;
  }
}

.results {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    a {
      width: 50%;
      @include desktop {
        width: 25%;
      }
    }
  }
}

article {
  height: 420px;
  position: relative;
  p {
    background-color: $results-background-color;
    line-height: 1.5;
    padding: 0.5rem 0.5rem;
    text-align: left;
    position: absolute;
    bottom: 0;
    margin: 0;
    color: $standard-color;
  }
}

.uppercase {
  text-transform: uppercase;
}

footer {
  color: $footer-color;
  padding-top: 1.05rem;
  padding-bottom: 2.05rem;
  font-size: 0.9rem;
  @include desktop {
    text-align: left;
    padding-left: 2rem;
  }
}
