@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/OpenSans-Bold/OpenSans-Bold.woff2") format("woff2"),
    url("../../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"),
    url("../../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"),
    url("../../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-LightItalic/OpenSansLight-Italic.eot");
  src: url("../../fonts/OpenSans-LightItalic/OpenSansLight-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/OpenSans-LightItalic/OpenSansLight-Italic.woff2")
      format("woff2"),
    url("../../fonts/OpenSans-LightItalic/OpenSansLight-Italic.woff")
      format("woff"),
    url("../../fonts/OpenSans-LightItalic/OpenSansLight-Italic.ttf")
      format("truetype"),
    url("../../fonts/OpenSans-LightItalic/OpenSansLight-Italic.svg#OpenSansLight-Italic")
      format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Light/OpenSans-Light.eot");
  src: url("../../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/OpenSans-Light/OpenSans-Light.woff2") format("woff2"),
    url("../../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"),
    url("../../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"),
    url("../../fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot");
  src: url("../../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff2")
      format("woff2"),
    url("../../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff")
      format("woff"),
    url("../../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.ttf")
      format("truetype"),
    url("../../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.svg#OpenSans-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}
